<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="search:launchresult" type="Sitecore.Support.Shell.Applications.Search.Commands.LaunchResult,Sitecore.Support.95425"
               patch:instead="command[@type='Sitecore.Shell.Applications.Search.Instant.Commands.LaunchResult,Sitecore.Client']"/>
    </commands>

    <processors>
      <uiLaunchSearchResult argsType="Sitecore.Shell.Framework.Pipelines.LaunchSearchResult.LaunchSearchResultArgs">
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.LaunchSearchResult,Sitecore.Support.95425" method="OpenItem"
                   patch:instead="processor[@type='Sitecore.Shell.Framework.Pipelines.LaunchSearchResult,Sitecore.Kernel' and @method='OpenItem']"/>
      </uiLaunchSearchResult>
    </processors>
  </sitecore> 
</configuration>